<!doctype html>
<html lang="en">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png" sizes="32x32"/>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    </head>
    <body>
        <div class="nav">
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo-small.jpg" alt="Logo"></a>
        </div>
        <div class="content">
            <h1>About</h1>
            <h3>We are a group of engineers, makers, artists and technological progressives who believe that the best way to ensure 
                a better future is to build it that way now. We work with both hardware and software, and at their intersection where
                those technologies intimately affect our daily lives and the future of mankind in the most positive ways.
                <br><br>
                We also work with clients looking to solve their most pressing technological challenges and are looking to become
                partners in our goal of moving the global society towards prosperity.
            </h3>
        </div>
        <div class="nav">
            <a href="{{ site.baseurl }}/about"><button class="button button-nav-active">About</button></a>
            <a href="{{ site.baseurl }}/projects"><button class="button button-nav">Projects</button></a>
            <a href="https://spawnlabtech.typeform.com/to/a46lKdrO"><button class="button button-nav">Contact</button></a>
        </div>
        <div class="footer">
            <p class="footer-text">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Spawnlab Technologies Corp.</p>
        </div>
    </body>
</html>