<!doctype html>
<html lang="en">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png" sizes="32x32"/>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    </head>
    <body>
        <div class="logo">
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" alt="Logo"></a>  
        </div>
        <div class="nav">
            <a href="{{ site.baseurl }}/about"><button class="button button-nav">About</button></a>
            <a href="{{ site.baseurl }}/projects"><button class="button button-nav">Projects</button></a>
            <a href="https://spawnlabtech.typeform.com/to/a46lKdrO"><button class="button button-nav">Contact</button></a>
        </div>
        <div class="footer">
            <p class="footer-text">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Spawnlab Technologies Corp.</p>
        </div>
    </body>
</html>
